body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-size: 2.5em;
  margin: 0.5em 0.5em 0 0.5em;
}

.main-content-container{
  margin-top: 5em;
}

.main-content-container h1{
  text-align: center;
}

.group-select
{
    display: flex;
    flex-direction: row !important;
    width: 14vw;
}

.group-select select
{
    font-size: 1.5em;
    width: 7vw;
    border-radius: 0.3em;
    border-width: 3px;
    padding: 0.3em;
}

.group-select label
{
    margin-left: 0;
}