.preview-container
{
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
    width: 60vw;
}

.sign-button
{
    font-size: 2.3em;
    color:#fff;
    padding: 0.4em;
    width: 10vw;
    border-radius: 0.6em;
    border: 2px solid #000; 
    background: rgb(121,9,94);
    background: linear-gradient(90deg, rgba(121,9,94,1) 0%, rgba(72,0,255,1) 100%);
}

.sign-button:hover
{
    background: #fff;
    border: 2px solid rgba(121,9,94,1);
    color: #000;
}